<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Tic Tac Toe</title>
</head>
<body>

    <div id="app">
        <div id="ustKisim">
            <div class="ustKisim--item">
                <b style="font-size: .5em;" id="xWin">Player 1:<br/> {{score['X']}}</b>
            </div>
            <div class="ustKisim--item">
                <b style="font-size: .5em;" id="draws">Draw:<br/> {{score['D']}}</b>
            </div>
            <div class="ustKisim--item">
                <b style="font-size: .5em;" id="oWin">Player 2:<br/> {{score['O']}}</b>
            </div>
        </div>
        <div>
            <b>TURN: {{turn}}</b>
        </div>
        <div class="game-options">
            <button @click="turnBack" :disabled="!moves.length" class="back-button">Back</button>
            <button @click="reset" class="clear-button">Clear</button>
            <button @click="restart" class="restart-button">Restart Game</button>
        </div>
        <div id="oyun">
            <div class="oyunSatir" v-for="(col, colIndex) in table" :key="'col' + colIndex">
                <div class="oyunAlani" :class="`row${colIndex}${rowIndex}` + ' ' + (row ? 'fill' : `empty ${turn}`)" v-for="(row, rowIndex) in col" :key="'row' + rowIndex" @click="setMove(colIndex, rowIndex)">
                    {{row}}
                </div>
            </div>
        </div>
    </div>

</body>
<script src="app.js"></script>
</html>